.card {
  width: 48.5rem;
  height: 30rem;

  background-color: #303a49;
  color: white;
  border-radius: 15px;

  padding: 20px;


  display: grid;
  grid-template-rows: 5rem auto 5rem;
  grid-template-columns: 100%;
  justify-content: center;
  position: relative;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55feac;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.2rem;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.4rem;
    color: #d0e4ed;
  }

  picture {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;

    img {
      display: block;
      height: 1.5rem;
    }
  }

  .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #55feac;
    border: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 799px) {
  .card {
    width: 95%;
  }
}